#root {
    background: linear-gradient(75deg, rgb(123, 230, 146), rgb(68, 207, 231));
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.wrapper {
    padding-top: 5rem;
    margin: 0 auto;
    width: 600px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}

.wrapper::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: rgba(255, 255, 255, 0.400);
    filter: blur(2px);
    width: 600px;
    height: 100%;
}

.form-AddForm {
    width: 500px;
    display: flex;
    height: 50px;
    margin-bottom: 1rem;
}

.done {
    text-decoration: line-through;
}